body{
    background-color: lightpink;
}
.price
{
   display: flex;
   justify-content: center;
   margin-top: 20px;
   gap: 40px;
   cursor: pointer;

}
hr{
    cursor: pointer;
}

h1
{
    text-align: center;
    color: blue;
    border-radius: 50%;
    background-color: gainsboro ;
}
.plan{
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.basic{
    background-color: gray;
    color: gold;
    border: 5px solid greenyellow;
}
.standard{
    background-color: cadetblue;
    color: gold;
    border: 5px solid rgb(6, 14, 1);
}
.premium{
    background-color:darkolivegreen;
    color: gold;
    border: 5px dashed blue;
}
u{
    color: white;
}
.plan:hover{
    border-radius: 0%;
}
h1:hover{
    background-color: goldenrod;
    color: orangered;
   
}