body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.rotating-square {
    width: 120px;
    height: 120px;
    background-color: orange;
    border-radius: 10px;
    animation: rotateSquare 3s linear infinite;
    margin: 20px;
}

@keyframes rotateSquare {
    0% {
        transform: rotate(0deg);
        background-color: gray;
    }

    100% {
        transform: rotate(360deg);
        border-radius: 60px;
        border: 10px solid red;
    }
}