
  body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background: #f0f0f0;
    margin: 0;
    height: 100%;
    width: 100px;
  }

  .ball {
    width: 50px;
    height: 50px;
    background-color: #ff5733;
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite ease-in-out;
  }

  @keyframes bounce {
    0%{
        top: 0px;
        background-color: blue;
    }
    100%{
        top: 400px;
        background-color: red;
    }
   
    75%{
        top: 300px;
        left: 100px;
        background-color: yellow;
    }
  }
