.container{
    display: flex;
    background-color: burlywood;
    justify-content: space-between;
    border-radius: 50px;
    background-color: salmon;
}
.box{
    width: 350px;
    height: 250px;
    text-align: center;
    
    padding: 5px;
    margin: 10px;
    border-radius: 50px;
}
.b1
{
    background-color: gray;
    
}
.b2{
    background-color: green;
}
.b3{
    background-color: brown;
}
h1{
    text-align: center;
    border: 2px solid rgb(223, 16, 178);
    background-color: cadetblue;
    border-radius: 50px;
}